# Ignora le cartelle bin e obj in qualsiasi parte del progetto
**/bin/
**/obj/

# Ignora i file di impostazioni utente di Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignora i file di compilazione
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Ignora i file di directory di Visual Studio
.vs/

# Ignora i file di database di Visual Studio
*.mdf
*.ldf
*.ndf

# Ignora i file di backup
*.[Bb]ak
*.[Bb]ak2
*.[Tt]mp

# Ignora altri file e cartelle
*.log
*.vscode/
*.idea/
